body{
    background-color:wheat;

}
.ques{
    color:gray;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    color: blue;
    font-style: italic;

}
hr{
    border: 2px double brown;
}
.d1{
    width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid orangered;
    font-style: italic;
    color: blue;
    float: right;
    margin-right: 80px;
    animation-name: om;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
}
@keyframes om{
    from{
         top: 0px;
         rotate: 0deg;

    }

    to{
        top: 295px;
        rotate: 360deg;
    
    }
}
.d2{
    width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid yellow;
    font-style: italic;
    color: blue;
    float: right;
    margin-right: 80px;
    animation-name: om1;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
}
@keyframes om1{
    from{
         top: 0px;
         rotate: 0deg;

    }

    to{
        top: 315px;
        rotate: 360deg;
    
    }
}
/*answer no 7css apply */
.p1{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
 }
 .c1{
     background-color: skyblue;
     width: 100px;
     height: 80px;
     margin: 20px;
 }
 /*answer no 10 css apply */
 .guess0{
    background-color:blue;
 }
 .guess1{
    color: white;
    font-size: 30px;
    font-style: normal;
    position: absolute;
    top: 1px;
    right: 10px;
 }
 .guess2{
    font-size: 25px;
    font-style: normal;
    padding: 10px;
 }
 .guess3{
    color: white;
    position: absolute;
    top: 80px;
    right: 400px;
 }
 .guess4{
    font-size: 40px;
    padding: 40px;
    position: absolute;
    top: 160px;
    right: 460px;

 }
 .guess5{
    background-color: white;
    border: 4px solid white;
    position: relative;
    top: 150px;
    z-index: -1;
}
.para1a{
    color: white;
    position: absolute;
    top: 300px;
    right: 280px;
}
.para2a{
    color: white;
    position: absolute;
    top: 330px;
    right: 280px;
}
.para1{
    color: white;
    position: absolute;
    top: 360px;
    right: 280px;
}
.para2{
    color: white;
    position: absolute;
    top: 390px;
    right: 280px;
}
#gn{
    position: absolute;
    top: 370px;
    left: 280px
}
.guess7{
    position: absolute;
    top: 420px;
    left: 280px;
    font-size: 40px;
    padding: 10px;
}